<template>
  <div id="appTodos">
    <div class="vueCont" v-show="visible">
      <div class="todoApp">
        <h1>todos</h1>
        <h5>User: {{userid}}</h5>
        <form id="form" onsubmit="return false;" @submit="addTodo()" action="">
          <input type="text" id="input" class="input"
                 placeholder="Ingrese su tarea" v-model="nuevo"
                 autocomplete="off"/>
          <ul class="todos" id="todos">
            <li v-for="t in lista" :key="t.id" :class="{completed:t.completed}">
              <span @click="cambiarCompleto(t)">
                {{ t.titulo }}
                <input type="checkbox" readonly v-model="t.completo"/>
              </span>
              <button class="button-delete" type="button" @click="eliminar(t)">X</button>
            </li>
          </ul>
        </form>

        <div>
          Click para completar la tarea<br>
          X para eliminarla
        </div>
      </div>
    </div>
    <div>
      Ingrese para hacer algo
<!--      <button type="button" @click="visible=true">VER</button>-->
    </div>

  </div>
</template>

<script>
import {alerta, appUrl} from "@/utils";

const axios = require('axios').default;

export default {
  name: 'App',
  data() {
    return {
      nuevo: '',
      lista: [],
      userid: 'prueba',
      visible: false,
    }
  },
  methods: {
    errfunc(err) {
      // Handle error
      console.log(err);
      alerta(err);
    },
    addTodo() {
      if (!this.nuevo) {
        alerta("Debe ingresar un texto en la tarea")
        return false
      }
      let e = {user_id: this.userid, titulo: this.nuevo, completo: false}
      axios.put(appUrl() + '/todos', e).then(r => {
        console.log(r)
        e.id = r.data.id
        this.lista.push(e)
        this.nuevo = ''
      }).catch(this.errfunc);
      return false;
    },
    eliminar(t) {
      if (!confirm(`Eliminar tarea ${t.titulo}?`))
        return;

      let ix = this.lista.indexOf(t);
      this.lista.splice(ix, 1);
      if (t.id)
        axios.delete(appUrl() + '/todos/' + t.id).then(r => {
          console.log(r);
        }).catch(this.errfunc);
    },

    cambiarCompleto(t) {
      t.completo = !t.completo;
      axios.post(appUrl() + '/todos', t).then(r => {
        console.log(r);
      }).catch(this.errfunc);
    },
    refrescar() {
      axios.get(appUrl() + `/todos/${this.userid}`).then(r => {
        console.log(r);
        this.lista = r.data || []
      }).catch(this.errfunc);
    },
  },
  mounted() {
    console.log("================================")

    let self = this
    window.addEventListener('message', function (e) {
      let tipo = e.data['event'];
      if (tipo === 'login') {
        console.log("empezando todos")
        let obj = e.data.detail;
        self.userid = obj.user
        self.refrescar()
        self.visible = true;
      }
      if (tipo === 'logout') {
        console.log("terminando todos")
        self.userid = null
        self.lista = []
        self.visible = false
      }
    })
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
