html,
body {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardCont {
  margin: auto;
  width: 500px;
  height: 800px;
  background-color: white;
  border-radius: 10px;
}
.navCont {
  margin-top: 25px;
  margin-right: 40px;
  height: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
}
/* CSS */
.button-81 {
  margin: 10px 0 10px 0;
  padding: 0 20px 5px 20px;
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  text-align: center;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.1rem;
}
.button-react {
  align-items: flex-end;
  margin: 10px 0 10px 0;
  padding: 0 20px 5px 20px;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  background-color: rgb(36, 63, 99);
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.1rem;
}
.button-close {
  margin: 10px 0 10px 0;
  padding: 0 20px 5px 20px;
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #b5b5b5;
  cursor: pointer;
  text-align: center;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.1rem;
}
.button-81:hover {
  background-color: rgb(36, 63, 99);
  color: #fff;
}
.buttonSelected {
  background-color: rgb(36, 63, 99);
  color: #fff;
}
.separatorBtn {
  margin: 0 10px 0 10px;
  font-size: 30px;
}
.hide {
  display: none !important;
}
#react {
  height: 90%;
  display: flex;
  align-items: center;
}
#reactR {
  height: 90%;
  display: flex;
  align-items: center;
}
.react {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.reactR {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btnCont {
  width: 100%;
  display: flex;
  justify-content: end;
}
.inputLR {
  border: none;
  color: #444;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  display: block;
  width: 84%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.inputLR::placeholder {
  color: #d5d5d5;
}
